<h1> <%= @artist.name %></h1>

<%= image_tag(@artist.image, :class => 'feature') %>
<ul>
  <li><b>NATIONALITY </b><%= @artist.nationality %></li>
  <li><b>PERIOD </b><%= @artist.period %></li>
  <li><b>DOB </b><%= @artist.dob.strftime '%a, %dth %b %Y' %></li>
  <li><b>DEATH </b><%= @artist.death.strftime '%a, %dth %b %Y' unless @artist.death.nil? %></li>
  <li><b>VICE </b><%= @artist.vice unless @artist.vice.nil? %></li>
</ul>

<% @artist.works.each do |work| %>
<%= link_to image_tag(work.image, :class => 'thumb'), work %>
<% end %>

<div class="controls">
  <button type="button" class="btn btn-default btn-xs"><%= link_to 'Add artist', new_artist_path(@artist) %></button>
  <button type="button" class="btn btn-default btn-xs"><%= link_to 'Edit artist', edit_artist_path(@artist)%></button>
  <button type="button" class="btn btn-default btn-xs"><%= link_to 'Delete artist', @artist, :method => 'delete', :data => {:confirm => 'Are you sure?'} %></button>
</div>
</div>
