<h1> The works </h1>

<% @works.each do |work| %>
 <%= image_tag(work.image, :class => 'thumb') %>

   <ul>
      <li><%= link_to work.title, work_path(work.id) %></li>
      <li>Created <%= work.year %></li>
      <li>Medium <%= work.medium %></li>
      <li>Style <%= work.style %></li>
      <li><%= link_to work.artist.name %></li>
   </ul>

<% end %>
