<h1><%= @work.title %></h1>

<%= image_tag(@work.image, :class => 'feature') %>
<ul>
  <% unless @work.artist.nil? %>
  <li><%= link_to @work.artist.name, @work.artist %></li>
    <% end %>
  <li><%= @work.year %></li>
  <li><%= @work.medium %></li>
  <li><%= @work.style unless @work.style.nil? %></li>
</ul>

<% unless @work.gallery.nil? %>
    <li><%= link_to @work.gallery.name, @work.gallery %></li>
  <% end %>

<div class="controls">
  <%= link_to 'Add work', new_work_path(@work) %>
  <%= link_to 'Edit work', edit_work_path(@work)%>
  <%= link_to 'Delete work', @work, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
</div>



<% @work.artist.works.each do |work| %>
<!-- unless statement re the image id -->
<%= link_to image_tag(work.image, :class => 'thumb'), work %>
<% end %>
