<%= form_for @gallery do |f| %>
<fieldset>
  <%= f.label :name %>
  <%= f.text_field :name %>
</fieldset>
<fieldset>
  <%= f.label :location %>
  <%=  f.text_field :location%>
</fieldset>
<fieldset>
  <%= f.label :url %>
  <%= f.text_field :url %>
</fieldset>
<fieldset>
  <%= f.label :image %>
  <%= f.text_field :image %>
</fieldset>

<fieldset>
  <%= f.label :work_id %>
  <%= f.select :work_id, Work.pluck(:name, :id), :include_blank => true %>
</fieldset>

<fieldset>
  <label></label>
  <%= f.submit %>
</fieldset>

<% end %>
