<h1><%= @gallery.name %></h1>

<div class="diamond-4"></div>
<div class="diamond-5"></div>
<div class="diamond-6"></div>

<div class="large-image">
  <%= image_tag(@gallery.image, :class => 'feature') %>

  <div class="details-list">
    <ul>

      <li><b>LOCATION </b><%= @gallery.location %></li>
      <li><b>URL </b><%= link_to @gallery.url, @gallery.url %></li>

      <% unless @gallery.works.nil? %>
        <% @gallery.works.each do |work| %>
          <li><b>WORKS </b><%= link_to work.title, work %></li>
        <% end %>
      <% end %>

    </ul>
  </div>
</div>

<div class="controls">
  <button type="button" class="btn btn-default btn-xs"><%= link_to 'Add gallery', new_gallery_path(@gallery) %></button>
  <button type="button" class="btn btn-default btn-xs"><%= link_to 'Edit gallery', edit_gallery_path(@gallery) %></button>
  <button type="button" class="btn btn-default btn-xs"><%= link_to 'Delete gallery', @gallery, :method => 'delete', :data => {:confirm => 'Are you sure?'} %></button>
</div>

<% @gallery.works.each do |work| %>
<!-- unless statement re the image id -->
<%= link_to image_tag(work.image, :class => 'thumb'), work %>
<% end %>
