<!DOCTYPE html>
<html>
  <head>
    <title>Project01</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <div class="container">

    <body>
      <nav>
          <div class="menu">
          <%= link_to 'ARTISTS', artists_path %>
          <%= link_to 'WORKS', works_path %>
          <%= link_to 'GALLERIES', galleries_path %>
          </div>
      </nav>

      <%= yield %>
    </body>
  </div>
</html>
