<!DOCTYPE html>
<html>
  <head>
    <title>Project01</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="container">

    <body>
      <nav>
          <div class="menu">
          <div class="artists"><%= link_to 'ARTISTS', artists_path %></div>
          <div class="works"><%= link_to 'WORKS', works_path %></div>
          <div class="galleries"><%= link_to 'GALLERIES', galleries_path %></div>
          </div>
      </nav>

      <%= yield %>
    </body>
  </div>
</html>
